<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[STIN_BurzaModule*]*</Include>
          <Exclude>[*.Tests]*</Exclude>
          <ExcludeByFile>**/obj/**/*</ExcludeByFile>
          <MergeWith>$(Build.SourcesDirectory)/TestResults/coverage.cobertura.xml</MergeWith>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
