<?xml version="1.0" encoding="utf-8"?>
<!--
Tento soubor je používán procesem publikování nebo balení webového projektu. Chování tohoto procesu můžete přizpůsobit
úpravou tohoto souboru MSBuild. Další informace o tomto procesu najdete na webu https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/210323bc-8d69-4346-bcce-9dd4768587ea/resourceGroups/STINBurzaModule20250514183057ResourceGroup/providers/Microsoft.Web/sites/STINBurzaModule20250514183057</ResourceId>
    <ResourceGroup>STINBurzaModule20250514183057ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/210323bc-8d69-4346-bcce-9dd4768587ea/resourceGroups/STINBurzaModule20250514183057ResourceGroup/providers/Microsoft.ApiManagement/service/STINBurzaModuleapi/apis/STINBurzaModule</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://stinburzamodule20250514183057.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>07dc2ca0-0adc-4f3e-8309-b22fbdba2416</ProjectGuid>
    <MSDeployServiceURL>stinburzamodule20250514183057.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>STINBurzaModule20250514183057</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$STINBurzaModule20250514183057</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>